:root {
    font-size: 16px;
    --white: white;
    --gris20: #000000;
    --gris40: #545454;
    --gris60: #616161;
}

html {
    scroll-behavior: smooth;
}

body {
    /* border: 1px solid red; */
    color: var(--gris40);
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

body em {
    /* border: 1px solid red; */
    font-style: italic;
    font-weight: 700;
}

.hero {
    block-size: 8.125rem;
    /* background-image: linear-gradient(3.36deg, #212325 -63.62%, rgba(255, 255, 255, 0.225), transparent), url(../images/patron-1.png); */
    background-image: linear-gradient(274.51deg, rgba(74, 0, 224, 0.6) 5%, rgba(142, 45, 226, 0.5) 130.61%), url(../images/patron-2.png);
    background-size: cover, 50px;
}

header {
    color: var(--gris20);
    font-size: 0.875rem;
    /* border: 1px solid yellow; */
    /* position: absolute;
    inset-block-start: 0; */
    /* inset-inline-start: -208px; */
    /* inline-size: 188px; */
}

.header {
    /* border: 1px solid green; */
    /* position: sticky; */
    /* inset-block-start: -55px; */
}

.header-content {
    /* border: 1px solid red; */
    /* position: relative;
    inset-block-start: 65px; */
    margin-block-start: 1.25rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
}

header li {
    /* border: 1px solid red; */
    margin-block: 1rem;
    font-weight: normal;
}

header a {
    /* border: 1px solid red; */
    color: var(--gris60);
    font-size: 0.875rem;
    font-weight: normal;
    text-decoration-line: none;
    padding: 0.5rem;
}

header a:hover {
    /* color: var(--gris20); */
    color: var(--white);
    background: #5551FF;
}

header li::marker {
    border: 1px solid red;
}

nav details summary {
    /* border: 1px solid red; */
    font-weight: bold;
    margin-block-start: 1.5rem;
    margin-block-end: 1rem;
    outline-color: var(--gris60);
    cursor: pointer;
}

h1 {
    color: var(--gris20);
    font-size: 3.4375rem;
    font-weight: bold;
    margin-block-start: 2.875rem;
    margin-block-end: 1rem;
    text-align: center;
}

h1+p {
    /* border: 1px solid red; */
    /* color: var(--gris20); */
    text-align: center;
}

hr {
    margin-block-start: 4rem;
    margin-block-end: 4rem;
    border: 1px solid rgba(97, 97, 97, 0.2);
}

h2 {
    color: var(--gris20);
    margin-block-start: 2.5rem;
    margin-block-end: 2.5rem;
    font-size: 2rem;
    font-weight: 400;
}

h3 {
    color: var(--gris20);
    margin-block-start: 2.5rem;
    margin-block-end: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}

blockquote {
    border-inline-start: 4px solid #5551FF;
    margin-block-start: 2rem;
    margin-block-end: 4rem;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-inline-start: 1rem;
    text-align: initial;
    max-inline-size: 633px;
    margin-inline: auto;
    color: var(--gris20);
}

blockquote span {
    /* border: 1px solid red; */
    color: var(--gris20);
    font-size: 1.5rem;
}

blockquote span::before {
    content: '-';
}

pre {
    border: 8px solid #5551FF;
    box-shadow: -10px 10px 0px #ABAAF6;
    border-radius: 8px;
    margin-block-end: 2.5rem;
    line-height: 1.5rem;
    background-color: var(--white);
    padding: 2.5rem;
    overflow: auto;
    text-align: initial;
    color: var(--gris20);
}

.section-content {
    /* border: 1px solid red; */
    text-align: center;
}

.section-content img {
    /* border: 1px solid var(--white); */
    display: inline-block;
    margin-block-start: 1.875rem;
    max-inline-size: 100%;
}

.section-content img:first-of-type {
    /* border: 1px solid red; */
    margin-block-start: 0;
}

.section-contentEnd ol li {
    /* border: 1px solid red; */
    line-height: 1.5rem;
}

.section-contentEnd ul li {
    /* border: 1px solid red; */
    margin-block-start: 1rem;
}

.section-h3 {
    /* border: 1px solid red; */
    margin-block-start: 1rem;
}

.section-content h3 {
    counter-increment: titleList;
    position: relative;
    padding-block-end: 0.5rem;
    /* border: 1px solid red; */
}

.section-content h3::before {
    content: counter(titleList, decimal) '. ';
}


/* .section-content h3::after {
    content: '';
    display: inline-block;
    block-size: 0.25rem;
    inline-size: 5rem;
    background: var(--gris40);
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
} */

.wrapper {
    /* border: 1px solid red; */
    max-inline-size: 56.375rem;
    margin: auto;
}

.main-content {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
}

.slider-container {
    /* border: 1px solid red; */
    display: block;
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    font-size: 0;
}

.video {
    /* border: 1px solid green; */
    display: inline-block;
    inline-size: 100%;
    block-size: auto;
    aspect-ratio: 16/9;
    margin: 0;
}

.slider-bullet-list {
    /* border: 1px solid red; */
    margin-block-start: 1rem;
    text-align: center;
}

.slider-bullet {
    /* border: 1px solid blue; */
    display: inline-block;
    background: rgba(66, 66, 66, 0.2);
    block-size: 1rem;
    inline-size: 1rem;
    border-radius: 50%;
}

.slider-bullet:hover {
    background: #5551FF;
}

.mailto {
    /* border: 1px solid red; */
    margin-block-start: 2.5rem;
}

.newsletter-h2 {
    /* border: 1px solid red; */
    margin-block-end: 0;
}

.form input {
    border: 1px solid var(--gris20);
    box-sizing: border-box;
    border-radius: 90px;
    block-size: 3rem;
    inline-size: 17.5rem;
    padding-block-start: 0.75rem;
    padding-block-end: 0.75rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    margin-block-start: 1rem;
    outline: none;
    font-size: 1rem;
    color: var(--gris20);
}

.form input[type="submit"] {
    /* border: 1px solid red; */
    color: var(--white);
    font-weight: 500;
    background: #5551FF;
    inline-size: 17.5rem;
    position: relative;
    inset-inline-start: 0;
    cursor: pointer;
    border: none;
}

.form input::-webkit-input-placeholder {
    color: var(--gris40);
}

footer {
    /* border: 1px solid red; */
    inline-size: 100%;
    background: var(--gris20);
    margin-block-start: 7.0625rem;
    padding-block-start: 3rem;
    padding-block-end: 3rem;
}

.footer-content {
    /* border: 1px solid red; */
    margin: 0;
    text-align: center;
}

.footer-content p {
    color: var(--white);
    font-size: 2rem;
    line-height: 2.3125rem;
    margin-block-end: 1.1875rem;
    margin-block-start: 0;
}

.footer-content img {
    /* border: 1px solid red; */
    margin-inline-end: 1.1875rem;
    cursor: pointer;
}

@media screen and (min-width:1360px) {
    .hero {
        block-size: 21.875rem;
        background-image: linear-gradient(274.51deg, rgba(74, 0, 224, 0.6) 5%, rgba(142, 45, 226, 0.5) 130.61%), url(../images/patron-2.png);
        background-size: cover, 50px;
    }
    header {
        color: var(--gris20);
        font-size: 0.875rem;
        /* border: 1px solid yellow; */
        position: absolute;
        inset-block-start: 0;
        /* inset-inline-start: -13rem; */
        inset-inline-end: -13rem;
        inline-size: 11.75rem;
    }
    .header {
        /* border: 1px solid green; */
        position: sticky;
        /* inset-block-start: -3.4375rem; */
        inset-block-start: -3.4375rem;
    }
    .header-content {
        /* border: 1px solid red; */
        position: relative;
        inset-block-start: 4.0625rem;
    }
    h1 {
        color: #000000;
        font-size: 3.75rem;
        font-weight: bold;
        margin-block-start: 4rem;
        margin-block-end: 1rem;
        text-align: center;
    }
    .form input[type="submit"] {
        /* border: 1px solid red; */
        color: var(--white);
        font-weight: 500;
        background: #5551FF;
        inline-size: 7.4375rem;
        position: relative;
        inset-inline-start: -4.1875rem;
        cursor: pointer;
        border: none;
    }
}