:root {
    font-size: 16px;
    --white: white;
    --gris20: #212121;
    --gris40: #424242;
    --gris60: #616161;
}

html {
    scroll-behavior: smooth;
}

body {
    /* border: 1px solid red; */
    color: var(--gris40);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body em {
    /* border: 1px solid red; */
    font-style: italic;
    font-weight: 700;
}

.hero {
    block-size: 350px;
    background-image: linear-gradient(3.36deg, #212325 -63.62%, rgba(255, 255, 255, 0.225), transparent), url(../images/patron-1.png);
}

header {
    color: var(--gris60);
    font-size: 14px;
    /* border: 1px solid yellow; */
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: -208px;
    inline-size: 188px;
}

.header {
    /* border: 1px solid green; */
    position: sticky;
    inset-block-start: -55px;
}

.header-content {
    /* border: 1px solid red; */
    position: relative;
    inset-block-start: 65px;
}

header li {
    /* border: 1px solid red; */
    margin-block: 16px;
    font-weight: normal;
}

header a {
    /* border: 1px solid red; */
    color: var(--gris60);
    font-size: 14px;
    font-weight: normal;
    text-decoration-line: none;
}

header a:hover {
    color: var(--gris20);
}

nav details summary {
    /* border: 1px solid red; */
    font-weight: bold;
    margin-block-start: 24px;
    margin-block-end: 16px;
    outline-color: var(--gris60);
    cursor: pointer;
}

h1 {
    color: var(--gris20);
    font-size: 60px;
    font-weight: normal;
    margin-block-start: 64px;
    margin-block-end: 16px;
}

h1+p {
    /* border: 1px solid red; */
    color: var(--gris20);
}

hr {
    margin-block-start: 64px;
    margin-block-end: 64px;
    border: 1px solid rgba(97, 97, 97, 0.2);
}

h2 {
    color: var(--gris20);
    margin-block-start: 40px;
    margin-block-end: 40px;
    font-size: 32px;
    font-weight: 400;
}

h3 {
    color: var(--gris40);
    margin-block-start: 40px;
    margin-block-end: 16px;
    font-size: 24px;
    font-weight: 400;
}

blockquote {
    border-inline-start: 4px solid var(--gris20);
    margin-block-start: 32px;
    margin-block-end: 64px;
    font-size: 24px;
    line-height: 32px;
    padding-inline-start: 16px;
}

blockquote span {
    /* border: 1px solid red; */
    color: var(--gris60);
    font-size: 24px;
}

blockquote span::before {
    content: '-';
}

pre {
    /* border: 1px solid red; */
    margin-block-end: 40px;
    line-height: 24px;
    background-color: #FEC62E;
    padding: 40px;
    overflow: auto;
}

.section-content img {
    /* border: 1px solid red; */
    display: block;
    margin-block-start: 40px;
    /* margin-block-end: 16px; */
    max-inline-size: 100%;
}

.section-content ol li {
    /* border: 1px solid red; */
    line-height: 24px;
}

.section-content ul li {
    /* border: 1px solid red; */
    /* line-height: 24px; */
    margin-block-start: 16px;
}

.section-h3 {
    /* border: 1px solid red; */
    margin-block-start: 16px;
}

.section-content h3 {
    counter-increment: titleList;
    position: relative;
    /* inset-block-start: 4px; */
    padding-block-end: 8px;
    /* border: 1px solid red; */
}

.section-content h3::before {
    content: counter(titleList, decimal) '. ';
}

.section-content h3::after {
    /* border: 1px solid red; */
    content: '';
    display: inline-block;
    block-size: 4px;
    inline-size: 80px;
    background: var(--gris40);
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
}

.wrapper {
    /* border: 1px solid red; */
    max-inline-size: 902px;
    margin: auto;
}

.main-content {
    padding-inline-start: 16px;
    padding-inline-end: 16px;
}

.slider-container {
    /* border: 1px solid red; */
    display: block;
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    font-size: 0;
}

.video {
    /* border: 1px solid green; */
    display: inline-block;
    inline-size: 100%;
    block-size: auto;
    aspect-ratio: 16/9;
    margin: 0;
}

.slider-bullet-list {
    /* border: 1px solid red; */
    margin-block-start: 16px;
    text-align: center;
}

.slider-bullet {
    /* border: 1px solid blue; */
    display: inline-block;
    background: rgba(66, 66, 66, 0.2);
    block-size: 16px;
    inline-size: 16px;
    border-radius: 50%;
}

.slider-bullet:hover {
    background: var(--gris40);
}

.mailto {
    /* border: 1px solid red; */
    margin-block-start: 40px;
}

.newsletter-h2 {
    /* border: 1px solid red; */
    margin-block-end: 0;
}

.form input {
    border: 1px solid var(--gris60);
    box-sizing: border-box;
    border-radius: 90px;
    block-size: 48px;
    inline-size: 280px;
    padding-block-start: 12px;
    padding-block-end: 12px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    margin-block-start: 16px;
    outline: none;
    /* outline-color: #157EFB; */
    font-size: 16px;
    color: var(--gris40);
}

.form input[type="submit"] {
    /* border: 1px solid red; */
    color: var(--white);
    font-weight: 500;
    background: #000000;
    inline-size: 119px;
    position: relative;
    inset-inline-start: -67px;
    cursor: pointer;
}

.form input::-webkit-input-placeholder {
    color: var(--gris40);
}

footer {
    /* border: 1px solid red; */
    /* block-size: 174px; */
    inline-size: 100%;
    background: #212429;
    /* text-align: center; */
    margin-block-start: 113px;
    padding-block-start: 48px;
    padding-block-end: 48px;
}

.footer-content {
    /* border: 1px solid red; */
    margin: 0;
    text-align: center;
}

.footer-content p {
    color: var(--white);
    font-size: 32px;
    line-height: 37px;
    margin-block-end: 19px;
    margin-block-start: 0;
}

.footer-content img {
    /* border: 1px solid red; */
    margin-inline-end: 19px;
    cursor: pointer;
}