:root {
    font-size: 16px;
    --white: #FFFFFE;
    --gris25: #232946;
    --grisA5: #B8C1EC;
    --gris3A: #D4939D;
    --grisEE: #EEBBC3;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background: var(--gris25);
    color: var(--grisA5);
}

body p {
    font-size: 1.0625rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.headerV {
    color: var(--white);
    font-size: 0.875rem;
}

.hVariantes-content {
    margin-block-start: 1.25rem;
    margin-block-end: 32px;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
}

.headerV ol {
    list-style-type: none;
}

.headerV li {
    margin-block: 1rem;
    font-weight: 500;
}

.headerV li a.active {
    background-color: #000000;
    color: white;
    border-radius: 5px;
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
    padding-inline-start: 1.5625rem;
    padding-inline-end: 1.5625rem;
}

.headerV a {
    color: var(--grisA5);
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration-line: none;
}

.headerV a:hover:not(.active) {
    color: var(--white);
    background: #4CAF50;
    border-radius: 5px;
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
    padding-inline-start: 1.5625rem;
    padding-inline-end: 1.5625rem;
}

.headerV p {
    margin-block-start: 2.8125rem;
    color: var(--white);
    font-weight: 700;
}

header {
    font-size: 0.875rem;
    color: var(--white);
}

.header-content {
    margin-block-start: 1.25rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
}

header p {
    font-weight: 700;
    margin-block-start: 4rem;
}

header li {
    margin-block-end: 1rem;
    color: var(--grisA5);
}

header a {
    text-decoration: none;
    color: var(--grisA5);
}

header a:hover {
    color: var(--white);
}

nav details summary {
    font-weight: 700;
    margin-block-start: 1.5rem;
}

h1 {
    color: var(--white);
    font-size: 3.125rem;
    margin-block-start: 3rem;
    margin-block-end: 0;
}

hr {
    border: 1px solid rgba(97, 97, 97, 0.2);
    margin-block-start: 2.5rem;
    margin-block-end: 2.5rem;
}

em {
    font-weight: 700;
    font-style: italic;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--white);
    margin-block-end: 2.5rem;
    margin-block-start: 0;
}

.section-content h2 {
    margin-block-end: 0;
}

.section-content h3 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    counter-increment: titleList;
}

.section-content h3::before {
    content: counter(titleList, decimal) ". ";
}

.section-contentEnd h3 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    margin-block-start: 2.5rem;
    margin-block-end: 0;
}

.section-content img {
    margin-block-start: 1.875rem;
}

.section-contentEnd img {
    max-inline-size: 100%;
}

.section-contentEnd img:last-of-type {
    margin-block-end: 4.4375rem;
}

blockquote {
    font-size: 1.5rem;
    color: var(--gris25);
    background: var(--gris3A);
    border-radius: 8px;
    padding-block-start: 1.5rem;
    padding-block-end: 1.5rem;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.0625rem;
    margin-block-start: 4.4375rem;
    margin-block-end: 4.4375rem;
}

blockquote span::before {
    content: "- ";
    color: var(--gris25);
}

pre {
    color: var(--white);
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 2.5rem;
    background: var(--gris25);
    border-radius: 8px;
    overflow: auto;
}

.section-contentEnd ol li {
    line-height: 1.5rem;
}

.section-contentEnd ul li {
    margin-block-start: 1rem;
}

.section-contentH2 h2 {
    margin-block-start: 2.5rem;
    margin-block-end: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
}

.wrapper {
    max-inline-size: 39.75rem;
    margin: auto;
}

.main-content {
    padding-inline-start: 0.625rem;
    padding-inline-end: 0.625rem;
}

.slider-container {
    display: block;
    white-space: nowrap;
    scroll-behavior: smooth;
    overflow: hidden;
    font-size: 0;
}

.video {
    display: inline-block;
    inline-size: 100%;
    block-size: auto;
    aspect-ratio: 16/9;
    margin: 0;
}

.slider-bullet-list {
    text-align: center;
    margin-block-start: 1rem;
}

.slider-bullet {
    display: inline-block;
    inline-size: 1rem;
    block-size: 1rem;
    border-radius: 50%;
    background: rgba(66, 66, 66, 0.2);
    margin-inline-end: 0.25rem;
}

.slider-bullet:hover {
    background: var(--white);
}

.mailto {
    color: var(--white);
}

.mailto a {
    color: #0c66d2d9;
    ;
}

.section-contentLetter h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-block-start: 2.5rem;
    margin-block-end: 1rem;
    line-height: 2.0625rem;
}

.form input {
    box-sizing: border-box;
    inline-size: 100%;
    border: 1px solid var(--white);
    background: var(--gris25);
    border-radius: 8px;
    display: block;
    margin-block-end: 1.5rem;
    padding-block-start: 12px;
    padding-block-end: 12px;
    padding-inline-start: 16px;
    font-size: 1rem;
    outline-color: #1C62B9;
    color: var(--white);
}

.form input[type="submit"] {
    background: var(--grisEE);
    font-weight: 700;
    cursor: pointer;
    margin-block-end: 5rem;
    border: none;
    color: var(--gris25);
}

.form ::-webkit-input-placeholder {
    color: #A5A3A5;
}

footer {
    border: 1px solid var(--white);
    background: var(--grisEE);
}

.section-footer {
    text-align: center;
}

.section-footer p {
    margin-block-start: 3rem;
    margin-block-end: 1.1875rem;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--gris25);
}

.section-footer img {
    margin-block-end: 2.8125rem;
    margin-inline-end: 1.1875rem;
    cursor: pointer;
}

body::-webkit-scrollbar {
    inline-size: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #6d6666;
    border-radius: 4px;
    block-size: 100px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #a7a0a0;
}

@media screen and (min-width:1360px) {
    .headerV {
        color: var(--white);
        font-size: 0.875rem;
        position: absolute;
        inset-block-start: 0;
        inset-inline-end: -15rem;
        inline-size: 14rem;
    }
    .hVariantes {
        position: sticky;
        inset-block-start: -3.4375rem;
    }
    .hVariantes-content {
        position: relative;
        inset-block-start: 2.0625rem;
    }
    header {
        font-size: 0.875rem;
        color: var(--white);
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: -13rem;
        inline-size: 12.3125rem;
    }
    .header {
        position: sticky;
        inset-block-start: -3.4375rem;
    }
    .header-content {
        position: relative;
        inset-block-start: 1.0625rem;
    }
    h1 {
        color: var(--white);
        font-size: 4rem;
        margin-block-start: 4rem;
        margin-block-end: 0;
    }
}